/* Google fonts import - poppins */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Removal of default style using wildcard*/
/* guidance followed from CI Love Running Project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Gen styling*/
    color: black;
    font-family: 'Poppins', sans-serif;

}

/*Header styles*/
header {
    background-color: black;
    color: #ffffff;
    padding: 0 1.2rem;
    position: fixed;
    z-index: 100;
    width: 100%;
   
}
header a{
    text-decoration: none;
    color: #ffffff;
  

}
nav a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: grey;

}
#navmenu {
    font-size: 110%;
    letter-spacing: 6px;
    list-style-type: none;
    
}
#navmenu >li {
    margin-bottom: 10px;
}
nav {
    position: absolute;
    background-color: black;
    padding: 0 10px 0 10px;
    width: 100%;
    left: 0;
    display: none;
}

/*main content styling*/

main {
    background: lightblue;
    /*push footer to bottom and the main element take up rest of the space*/
    flex: 1 0 auto;
}

/* footer styling*/
footer {
    background-color: lightgreen;
}