/* Google fonts import - poppins */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Removal of default style using wildcard*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

/*Header styles*/
header {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 100;
    padding: 1rem 1.2rem;
    background-color: black;
    color: #ffffff;
    justify-content: space-between;
    align-items: baseline;
}

/* Nav bar*/
header a {
    text-decoration: none;
    color: #ffffff;
}

header img {
    width: 80%
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: grey;
}

#navmenu {
    font-size: 110%;
    letter-spacing: 6px;
    list-style-type: none;
}

#navmenu>li {
    margin-bottom: 10px;
}

nav {
    position: absolute;
    padding: 0 10px 0 10px;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
    background-color: black;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 3rem;
}

#nav-toggle {
    display: none;
}

/*main content styling*/
main {
    flex: 1 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 240, 233);
}

.center-text {
    text-align: center;
}

.active-page {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

/*Landing page (index.html) styling*/

#main-yoga-background {
    position: relative;
    height: 1089px;
    width: 100%;
    background: url("../images/main-yoga-background.webp")no-repeat center center/cover;
}

#cover-text {
    position: absolute;
    bottom: 300px;
    left: 40px;
    width: 80%;
    min-height: 200px;
    padding: 30px 20px 20px 30px;
    background-color: rgba(0, 0, 0, .6);
    font-size: 120%;
    border-radius: 15px;
}

#quote-text {
    position: relative;
    top: 77%;
    left: 40px;
    width: 80%;
    min-height: 50px;
    padding: 20px 0 20px 30px;
    background-color: rgba(0, 0, 0, .6);
    color: #ffffff;
    font-size: 150%;
    font-style: italic;
    text-align: left;
    border-radius: 15px;
}

#cover-text h1 {
    color: #ffffff;
}

#cover-text ul {
    color: #ffffff;
}

#cover-text p {
    color: #ffffff;
}

#cover-text li {
    list-style-type: none;
}

#knowmore {
    margin: 0 40px 0 10px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
}

#knowmore a:hover {
    color: red;
}

#knowmore a {
    color: black;
}

/*Start Yoga (startyoga.html) page styling*/

.sn-pose-flex {
    padding: 20px 5px 20px 30px;
    background-color: rgba(0, 0, 0, .2);
    text-align: left;
}

.sn-pose-flex img {
    width: 80%;
    height: auto;
    margin-top: 1%;
    margin-left: 5%;
}

.sn-pose-flex ul {
    padding-left: 20px;
}

.sn-pose-flex h2 {
    padding: 0 0 15px 0;
    text-decoration: underline;
    font-weight: bold;
}

#yoga-intro {
    padding-top: 20px;
    padding-bottom: 10px;
}

#yoga-disclaimer {
    padding-top: 20px;
}

/*Win! (feedback.html) styling*/

#feedback-yoga-background {
    flex-grow: 1;
    background: url("../images/feedback-form-background.webp") 75%/cover;
    padding: 20px 10% 0 10%;
}

/*form styling*/

#feedback-form p,
#feedback-form label {
    margin: 5px;
    padding: 5px;
}

#feedback-form>textarea {
    padding-right: 25px;
    width: 80%;
    font-size: 16px;
}

#feedback-form {
    width: auto;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .6);
    color: #ffffff;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.text-input {
    height: 25px;
    margin-bottom: 5px;
    font-size: 16px;
}


/* form control styling*/
#btn-submit-style {
    width: 150px;
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

#btn-reset-style {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 15px;
}

/* footer styling*/
#socials {
    display: flex;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 8px 0;
    background-color: black;
    text-align: center;
    justify-content: space-around;
    font-size: 30px;
    list-style-type: none;
}

.fontawesome-icon-color {
    color: #ffffff;
}

/*media queries */

/* Tablets and larger */
@media screen and (min-width: 768px) {

    main {
        /*push footer to bottom and the main element take up rest of the space*/
        margin-top: 120px;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding: 1rem;
    }

    #navmenu {
        display: flex;
    }

    #navmenu>li {
        padding-left: 30px;
    }

    .nav-toggle-label {
        display: none;
    }

    #cover-text {
        width: 510px;
        left: 3%;
        top: 2%;
        height: 50%;
        font-size: 130%;
    }

    #quote-text {
        position: relative;
        top: 80%;
        left: 10px;
        width: 80%;
        min-height: 50px;
        padding: 20px 30px 20px 30px;
        background-color: rgba(0, 0, 0, .6);
        font-size: 150%;
        color: #ffffff;
        font-style: italic;
    }

    #knowmore {
        margin: auto;
        padding: 5px;
        width: 30%;
        background-color: #ffffff;
    }

    #quote-text {
        width: 99%;
        text-align: center;
    }

    .sn-pose-flex {
        display: flex;
        width: 55%;
        margin: auto;
        padding-left: 60px;
        text-align: right;
        font-size: 130%;
    }

    .sn-pose-flex ul li {
        padding: 10px 0 10px 0;
    }

    .sn-pose-flex img {
        display: flex;
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .sn-pose-flex>div {
        width: 100%;
        margin: 3px;
        padding: 0 20px 10px 20px;
        text-align: left;
    }

    #seated-pose {
        width: 40%;
    }

    #yoga-intro {
        width: 55%;
        margin: auto;
        text-align: center;
        font-size: 130%;
    }

    #yoga-disclaimer {
        width: 55%;
        margin: auto;
        text-align: center;
        font-size: 130%;
    }

    #feedbackform {
        max-width: 450px;
        position: relative;
        left: 2%;
        top: 50px;
    }

}